.css-b62m3t-container {
   height: 30px;
}

.css-b62m3t-container > div {
   height: 20px;
}

.css-1fdsijx-ValueContainer,
.css-3w2yfm-ValueContainer {
   font-size: 13px;
   height: 20px;
}

.css-1xc3v61-indicatorContainer,
.css-1hb7zxy-IndicatorsContainer {
   padding: 0 !important;
}

.css-zq3ufn-control {
   height: 25px !important;
}
